# Credenciais MQTT e WiFi
arduino_sketches/sketch_esp32_loc_sensor_atuador_irrigacao/WiFiCredentials.h
arduino_sketches/sketch_esp32_loc_sensor_atuador_irrigacao/MQTTCredentials.h
arduino_sketches/sketch_esp32_loc_sensores_temperatura_umidade_luminosidade/WiFiCredentials.h
arduino_sketches/sketch_esp32_loc_sensores_temperatura_umidade_luminosidade/MQTTCredentials.h